{% extends "base.html" %} {% block content %}
<br />
<div class="jumbotron">
  <h1><img alt="flask" src="/static/img/flask.png" height="80px" />GitLab CI/CD demo webapp + AWS EKS<img alt="flask"
      src="/static/img/eks.png" height="80px" /></h1>

  <div class="lead">
    This app implements a complete CI/CD from testing, to building docker image, to pushing to dockerhub, to argocd
    pulling new image versions, to seamless deployment on kubernetes.
  </div>
  <br />

  <div class="dimmed-box">
    <p>
      <img alt="github" src="static/img/github-2.svg" class="icon" />
      <a href="https://github.com/benc-uk/python-demoapp" class="btn btn-info btn px-4"> GitHub Project </a>

      &nbsp;&nbsp;&nbsp;
      <img alt="docker-whale" src="static/img/docker-whale.svg" class="icon" />
      <a href="https://github.com/users/benc-uk/packages/container/package/python-demoapp" class="btn btn-info btn">
        Docker ImagesSSSS
      </a>
    </p>
    <hr />
    <p>
      <img alt="python.svg" src="static/img/python.svg" class="icon" />
      <a class="btn btn-info btn" href="https://azure.microsoft.com/en-gb/develop/python/">
        Get started with Azure &amp; Python
      </a>
    </p>

    <br />
    <p>Microsoft ❤ Open Source</p>
  </div>
</div>
{% endblock %}